<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcript</title>
    <link rel="stylesheet" href="/css/transcripts.css">
</head>
<body>
    
    <% students.forEach(function(student) { %>
    <div class="transcript-container">
        <!-- Student and academic details -->
        <div class="mini-cont">
            <table class="student-details" >
                <tr>
                    <td style="width:20%; font-weight:bold;">Roll No</td>
                    <td style="width:30%"><%= student.rollNumber %></td>
                    <td style="width:20%; font-weight:bold;">Programme </td>
                    <td style="width:30%"><%= academicDetails.programme %></td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Student Name</td>
                    <td style="white-space: normal;
                    word-break: keep-all; "> <%= student.name %></td>
                    <td style="font-weight:bold;">Discipline </td>
                    <td><%= academicDetails.discipline %></td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Semester</td>
                    <td> <%= academicDetails.semester %></td>
                    <td style="font-weight:bold;">Academic Year</td>
                    <td><%= academicDetails.academicYear %></td>
                </tr>
            </table>
        </div>

        <!-- Courses, units, grades -->
        <div>
            <table class="course-details">
                <thead>
                    <tr>
                        <th >Course No.</th>
                        <th >Course Title</th>
                        <th  >Unit</th>
                        <th >Grade</th>
                        <th >Special Symbols</th>
                    </tr>
                </thead>
                <tbody>
                    <% student.courses.forEach(function(course) { %>
                    <tr>
                        <td style="width: 20%;"><%= course.code %></td>
                        <td ><%= course.title %></td>
                        <td ><%= course.unit %></td>
                        <td><%= course.grade %></td>
                        <td style="width:20%"><%= course.remarks %></td>
                    </tr>
                    <% }); %>
             
                </tbody>
                
            </table>
        </div>

        <!-- SPI, CPI -->
        <table>
            <tr style="border:1px solid black; display: flex; justify-content: space-between; padding-right: 2vw; padding-left: 1vw;" >
                <td style="border:none;"> <strong> Result </strong></td>
                <td style=" display:flex; border:none;gap:2vw;"> <strong> SPI</strong> <%= student.spi %></td>
                <td style="display: flex; border:none;gap:2vw;"> <strong> CPI</strong> <%= student.cpi %></td>
                
                <!-- <td style="border:none;"><%= student.cpi %></td> -->
               
            </tr>
        </table>
        <!-- <div class="performance-details">
            <table>
                <tr>
                    <td ><strong>Result:</strong></td>
                    
                    <td ><strong>SPI:</strong> <%= student.spi %></td>
                  
                    <td ><strong>CPI:</strong> <%= student.cpi %></td>
                
                </tr>
            </table>
        </div> -->

        <!-- Grading Points and Symbols -->
        <div class="grading-instructions">
            <table>
                
                    <tr>
                        <td> <strong> Grading Points </strong> </td>
                        <td class="GPSP"><p>O=10 (Distinguished), A+=10 (Outstanding), A=9 (Excellent), B+=8 (Very Good),</p><p>B=7 (Good), C+=6 (Average), C=5(Below Average), D+=4(Marginal),</p><p>D=3 (Poor), F=2(Very Poor), I=0 (Incomplete), S=0 (Satisfactory),</p><p>X=0 (Unsatisfactory)</p></td>
                    </tr>
                    <tr>
                        <td> <strong> Abbreviations </strong></td>
                        <td class="GPSP"><p> <strong>SPI:</strong> Semester Performance Index</p>
                            <p> <strong>CPI:</strong> Cummulative Performance Index</p></td>
                    </tr>
                    <tr>
                        <td> <strong> Special Symbols </strong></td>
                        <td class="GPSP">
                            <p> <strong> 'AU'</strong> indicates that the course has been Audited.</p>
                            <p> <strong> 'CD'</strong> indicates that the course has been dropped due to shortage of attendance</p>
                            <p> <strong> 'R'</strong> after letter grade indicates that the course has been repeated </p>
                            <p> <strong> 'S'</strong> after letter grade indicates that the course has been Substituted.</p>
                        
                        </td>
                    </tr>
                    
               
            </table>
        </div>

        <!-- Instructions section -->

        <div class="instructions">
           <table>
            <tr>
                <td>
                <ul>
                    <li>Medium of instruction is English.</li> 
                    <li>Conversion from CPI to Percentage using (CPI*10)% formula.</li>
                   
                </ul>
                </td>
             </tr>
           </table>
           <table class="yeda">
            <tr >
                <td id="last-row"> <span>Minimum Graduating CPI: 5.0</span> <span>Maximum Graduating CPI: 10.0</span></td>
            </tr>
           </table>
        </div>

        <!-- Footer for signature and issue details -->
        <div class="footer">
            <p>Academic Office</p>
            <p>Issued on <%= academicDetails.issueDate %></p>
            <p>Assistant/Deputy Registrar</p>
        </div>
    </div>
    <% }); %>
</body>
</html>
